<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- add a logo --}}
  <title>Project Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
{{!-- website name --}}
{{!-- nav bar --}}
    {{!-- login info {if/else} --}}
  </header>
  <main>
{{!-- aside? --}}
    {{!-- what goes in it? --}}
{{!-- div with class--}}
    {{!-- {{{body}}} --}}
  </main>
  <footer>

  </footer>
  <script src="/js/logout.js"></script>
</body>
</html>